name: PR Labeler

on:
  pull_request:
    types: [opened, synchronize]

permissions:
  pull-requests: write

jobs:
  size:
    runs-on: ubuntu-latest

    steps:
      - uses: codelytv/pr-size-labeler@v1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          xs_label: 'size:XS'
          xs_max_size: 10
          s_label: 'size:S'
          s_max_size: 100
          m_label: 'size:M'
          m_max_size: 500
          l_label: 'size:L'
          l_max_size: 1000
          xl_label: 'size:XL'
          fail_if_xl: false
